@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+Mono:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --red: #da291c;
    --yellow: #ffd700;
    --blue: #006db7;
    --green: #00af4d;
    --white: #fff;
    --black: #000;

    --rootsize: 20px;
    --maxwidth: 1200px;

}

body, html{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Rubik", sans-serif;
    background-image: url(website_images/mainbackground.png);
    background-color: var(--yellow);
}

#GridContainer{
    display: grid;
    background-color: var(--white);
    max-width: var(--maxwidth);
    width: 100%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#cart-button{
    width: 70px;
    background: transparent;
    border: none;
    position: relative;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--red);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: var(--white);
        position: absolute;
        top: -15px;
        left: -12px;
    }
}

nav{
    color: var(--white);
    background: var(--red);

    a{
        display: inline-block;
        padding: 1rem;
        color: var(--white);
        text-decoration: none;
        box-sizing: border-box;
        border-bottom: 5px solid var(--red);
        &:hover{
            background: var(--yellow);
            color: var(--black);
            
            
        }
    }

}

p{
    font-size: 1rem;
}

h1{
    margin: 0;
    padding: 0;
    max-width: 250px;

    a{
        display: inline-block;
        width: 100%;
        overflow: hidden;

        img{
            width: 100%;
            height: auto;
        }
    }
}

h2{
    font-size: 2.5rem;
    font-weight: 900;
}

h3{
    font-size: 1.5rem;
    font-weight: 600;
}